__pycache__/
.env
.venv/
data/raw/
data/cleaned/
data/instruction/
models/
outputs/
mlruns/
*.pt
*.safetensors

# Terraform local files
.terraform/
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
crash.*.log
