__pycache__/
.env
.venv/
data/raw/
data/cleaned/
data/instruction/
models/
outputs/
mlruns/
*.pt
*.safetensors


# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# AWS / secrets
.env
.env.*
*.pem
*.key